# chapter 2

2.1 How many seconds are in an hour? Use the interactive interpreter as a calculator and multiply the number of seconds in a minute (60) by the number of minutes in an hour (also 60).

2.2 Assign the result from the previous task (seconds in an hour) to a variable called seconds_per_hour.

2.3 How many seconds are in a day? Use your seconds_per_hour variable.

2.4 Calculate seconds per day again, but this time save the result in a variable called seconds_per_day.

2.5 Divide seconds_per_day by seconds_per_hour. Use floating-point (/) division.

2.6 Divide seconds_per_day by seconds_per_hour, using integer (//) division. Did this number agree with the floating-point value from the previous question, aside from the final .0?

In [14]:
# 2.1
hour = 60 * 60
# 2.2
secconds_per_hour = hour
# 2.3-4
secconds_per_day = secconds_per_hour * 24
# 2.5
secconds_per_day / secconds_per_hour
# 2.6
secconds_per_day // secconds_per_hour

24

# 基數
二進位:0b+2進位  
八進位:0o+8進位  
十六進位:0x+16進位

In [2]:
0b10

2

In [3]:
0o10

8

In [4]:
0x10

16

# divmod

In [5]:
divmod(14,3)

(4, 2)

# 型態
int,float

In [6]:
start = 'Na' *4 +'\n'

In [7]:
print(start)

NaNaNaNa

# 更改字串內容
replace,slice的方式

In [10]:
word = 'Henny'

In [11]:
word.replace('H','P')

'Penny'

In [12]:
word

'Henny'

# 字串相關

In [13]:
fix = '''When you try your best but you don't succeed
When you get what you want but not what you need
When you feel so tired but you can't sleep
Stuck in reverse'''

In [15]:
fix.startswith('When')

True

In [17]:
fix.find('you')

5

In [18]:
fix.rfind('you')

121

# 2.1

In [20]:
second_per_hour = 60*60

In [22]:
second_per_day = 24 * second_per_hour

In [23]:
second_per_day / second_per_hour

24.0

In [24]:
second_per_day // second_per_hour

24

In [16]:
a =['a','b','c','d','e']

In [17]:
a.insert(3,'ffdd')

In [18]:
a

['a', 'b', 'c', 'ffdd', 'd', 'e']

In [19]:
''.join(a)

'abcffddde'

In [20]:
c = [3,2,5,7,3,8]

In [21]:
c.sort()

In [22]:
c

[2, 3, 3, 5, 7, 8]

In [23]:
a = 2

In [24]:
type(a)

int

In [25]:
b =a

In [26]:
type(b)

int

In [27]:
a.real

2

In [28]:
b.real

2

In [29]:
b

2

86400

# Dict

In [47]:
a= 'dfgh'

In [48]:
list(a)

['d', 'f', 'g', 'h']

In [49]:
#檢查 dict有無key的存在

In [50]:
name = {'a':'Abby','b':'Barry','c':'Cindy'}

In [52]:
'a' in name

True

In [54]:
name.get('a')

'Abby'

In [55]:
name.get('Abby','not a Abby')

'not a Abby'

# Keys() 取鍵,Values() 取值,items() 取鍵/值

In [58]:
name

{'a': 'Abby', 'b': 'Barry', 'c': 'Cindy'}

In [63]:
name.keys()

dict_keys(['b', 'a', 'c'])

In [60]:
name.values()

dict_values(['Barry', 'Abby', 'Cindy'])

In [61]:
name.items()

dict_items([('b', 'Barry'), ('a', 'Abby'), ('c', 'Cindy')])

#  '=' assign or .copy()

In [64]:
name

{'a': 'Abby', 'b': 'Barry', 'c': 'Cindy'}

In [65]:
new_name = name

In [66]:
new_name

{'a': 'Abby', 'b': 'Barry', 'c': 'Cindy'}

In [67]:
name.update({'d':'Dicky'})

#  set()

In [69]:
word = 'letter'

In [70]:
set(word)

{'e', 'l', 'r', 't'}

In [77]:
drinks = {
    'martini':{'vodka','vermouth'},
    'black russian':{'vodka','kahlua'},
    'white russian':{'cream','kahlua','vodka'},
    'manhattan':{'rye','vermouth','bitters'},
    'crewdriver':{'orange juice','vodka'}
}

In [78]:
for name, content in drinks.items():
    if 'vodka' in content:
        print(name)

crewdriver
white russian
martini
black russian

In [79]:
for name, content in drinks.items():
    if content & {'vodka','orange juice'}:
        print(name)

crewdriver
white russian
martini
black russian

In [80]:
bruss = drinks['black russian']
wruss = drinks['white russian']

In [81]:
a = {1,2}
b = {2,3}

In [84]:
a & b

{2}

In [85]:
a.intersection(b)

{2}

In [86]:
a | b

{1, 2, 3}

In [87]:
a.union(b)

{1, 2, 3}

# Things to Do

3.1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985]. If you’re less than five years old and reading this book, I don’t know what to tell you.

3.2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

3.3. In which year in years_list were you the oldest?

3.4. Make a list called things with these three strings as elements: "mozzarella", "cin derella", "salmonella".

3.5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

3.6. Make the cheesy element of things all uppercase and then print the list.

3.7. Delete the disease element from things, collect your Nobel Prize, and print the list.

3.8. Create a list called surprise with the elements "Groucho", "Chico", and "Harpo".

3.9. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

3.10. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

3.11. Using your three-word dictionary e2f, print the French word for walrus.

3.12. Make a French-to-English dictionary called f2e from e2f. Use the items method. 3.13. Using f2e, print the English equivalent of the French word chien.

3.14. Make and print a set of English words from the keys in e2f.

3.15. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

3.16. Print the top-level keys of life.

3.17. Print the keys for life['animals'].

3.18. Print the values for life['animals']['cats'].

In [51]:
# 3.1
years_list = [x for x in range(1980,1980+6)]
print (years_list)

[1980, 1981, 1982, 1983, 1984, 1985]

In [56]:
# 3.2
years_list[3]

1983

In [57]:
# 3.3
max(years_list)

1985

In [58]:
# 3.4
things = ['mozzarella', 'chi derella', 'salmonella']

In [64]:
# 3.5
for i in things:
    print(i.capitalize())
print (things)

Mozzarella
Chi derella
Salmonella
['mozzarella', 'chi derella', 'salmonella']

In [65]:
# 3.6
for i in things:
    print(i.upper())

MOZZARELLA
CHI DERELLA
SALMONELLA

In [66]:
# 3.7
nobel_prize = set(things)
print(nobel_prize)

{'mozzarella', 'chi derella', 'salmonella'}

In [67]:
# 3.8
surprise = ['Groucho', 'Chico', 'Harpo']

In [71]:
# 3.9
s = surprise[-1].lower()
s[::-1] #字串反轉
s.capitalize()

'Harpo'

In [72]:
# 3.10
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}

In [74]:
# 3.11
e2f['walrus']

'morse'

In [81]:
# 3.12
f2e = dict((k,v) for v,k in e2f.items())
print (f2e)

{'chat': 'cat', 'morse': 'walrus', 'chien': 'dog'}

In [82]:
# 3.13
f2e['chien']

'dog'

In [83]:
# 3.14
e2f.keys()

dict_keys(['cat', 'dog', 'walrus'])

In [85]:
# 3.15
animal ={'cats':['Henri','Grumpy','Lucy'],'octopi':'','emus':''}
life ={'animal':animal,'plants':'','other':''}

In [86]:
# 3.16
life.keys()

dict_keys(['plants', 'other', 'animal'])

In [87]:
# 3.17
life['animal'].keys()

dict_keys(['octopi', 'cats', 'emus'])

In [88]:
# 3.18
life['animal']['cats']

['Henri', 'Grumpy', 'Lucy']